.subMenu
  .container

    .subMenu__bars(type="button")
      i.fa.fa-bars(aria-hidden="true")

    .subMenu__nav
      a.subMenu__navItem(href="#video") VIDEO
      a.subMenu__navItem(href="#info") PODSTAWOWE INFORMACJE
      a.subMenu__navItem(href="#foto") FOTO
      a.subMenu__navItem(href="#cast") OBSADA/TWÓRCY
      a.subMenu__navItem(href="#wins") NAGRODY I FESTIWALE
      a.subMenu__navItem(href="#media") O FILMIE W MEDIACH
      a.subMenu__navItem(href="#download") MATERIAŁY DODATKOWE