.subMenu
  .container
    .subMenu__nav
      a.subMenu__navItem(href="#") VIDEO
      a.subMenu__navItem(href="#") PODSTAWOWE INFORMACJE
      a.subMenu__navItem(href="#") FOTO
      a.subMenu__navItem(href="#") OBSADA/TWÓRCY
      a.subMenu__navItem(href="#") NAGRODY I FESTIWALE
      a.subMenu__navItem(href="#") O FILMIE W MEDIACH
      a.subMenu__navItem(href="#") MATERIAŁY DODATKOWE