-var title = 'AKTUALNOŚCI';

.container
  .col
    include ../sectionTitle/_sectionTitle-black
  .col
    include ../post/_post3
  .col
    include ../post/_post2
  .col
    include ../post/_post
  .col
    include ../post/_post2
  .col
    include ../post/_post
  .col
    include ../page/_page