-var title = 'PODSTAWOWE INFORMACJE';

.info
  .container
    .info__title
      include ../sectionTitle/_sectionTitle-black

    .info__poster
      include ../poster/_poster

    .info__content

      .info__about
        include ../aboutInfo/_aboutInfo

      .info__list
        include ../listInfo/_listInfo

      .info__info
        include ../contentInfo/_contentInfo

        .info__btn
          include ../btn/_btn