.sectionTitle
  +clearfix
  padding: 40px 0
  margin-top: 60px
  +TAB_MAX
    margin: 0

  &__title
    color: white
    width: auto
    float: left
    font-size: 50px
    font-weight: 700
    +clearfix
    &.-black
      color: black
    +TAB_MAX
      font-size: 34px
    +PHONE_ONLY
      font-size: 26px
    +PHONE_ONLY_480
      font-size: 20px

  &__border
    width: 100px
    border-bottom: 5px solid $red
    +TAB_MAX
      width: 50px