.download
  .container
    .download__title
      include ../sectionTitle/_sectionTitleDownload
      a.download__file(href="#")
        img.download__pdf(src="components/download/src/pdf.png" alt="pdf")
        .download__text POBIERZ >>