-var title ='MATERIAŁY DODATKOWE';

.download
  .container
    .download__title
      include ../sectionTitle/_sectionTitle-black
      a.download__file(href="#")
        img.download__pdf(src="components/download/src/pdf.png" alt="pdf")
        .download__text POBIERZ >>