.fotoItem
  .fotoItem__box
    a(href="components/fotoItem/src/foto1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        .fotoItem__lupa.fa.fa-search-plus(aria-hidden="true")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto1.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        .fotoItem__lupa.fa.fa-search-plus(aria-hidden="true")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto1.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        .fotoItem__lupa.fa.fa-search-plus(aria-hidden="true")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto1.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        .fotoItem__lupa.fa.fa-search-plus(aria-hidden="true")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto1.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        .fotoItem__lupa.fa.fa-search-plus(aria-hidden="true")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto1.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        .fotoItem__lupa.fa.fa-search-plus(aria-hidden="true")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto1.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM



