.fotoItem
  .fotoItem_box
    a(href="components/fotoItem/src/foto1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        img.fotoItem__lupa(src="components/fotoItem/src/lupa.png" alt="lupa")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto1.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        img.fotoItem__lupa(src="components/fotoItem/src/lupa.png" alt="lupa")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto2.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        img.fotoItem__lupa(src="components/fotoItem/src/lupa.png" alt="lupa")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto3.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto4.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        img.fotoItem__lupa(src="components/fotoItem/src/lupa.png" alt="lupa")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto4.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto5.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        img.fotoItem__lupa(src="components/fotoItem/src/lupa.png" alt="lupa")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto5.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM

    a(href="components/fotoItem/src/foto6.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").fotoItem__boxItem
      .fotoItem__img
        img.fotoItem__lupa(src="components/fotoItem/src/lupa.png" alt="lupa")
        img.fotoItem__boxImg(src="components/fotoItem/src/foto6.jpg" alt="galeria")
        .fotoItem__content FOTO LOREM IPSUM
