.poster
  .poster__box
    a(href="components/poster/src/poster1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").poster__boxItem
      .poster__lupa.fa.fa-search-plus(aria-hidden="true")
      img.poster__boxImg(src="components/poster/src/poster1.jpg" alt="galeria")
    a(href="components/poster/src/poster1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").poster__boxItem
      .poster__lupa.fa.fa-search-plus(aria-hidden="true")
      img.poster__boxImg(src="components/poster/src/poster1.jpg" alt="galeria")
    a(href="components/poster/src/poster1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").poster__boxItem
      .poster__lupa.fa.fa-search-plus(aria-hidden="true")
      img.poster__boxImg(src="components/poster/src/poster1.jpg" alt="galeria")
    a(href="components/poster/src/poster1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").poster__boxItem
      .poster__lupa.fa.fa-search-plus(aria-hidden="true")
      img.poster__boxImg(src="components/poster/src/poster1.jpg" alt="galeria")
    a(href="components/poster/src/poster1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").poster__boxItem
      .poster__lupa.fa.fa-search-plus(aria-hidden="true")
      img.poster__boxImg(src="components/poster/src/poster1.jpg" alt="galeria")
    a(href="components/poster/src/poster1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").poster__boxItem
      .poster__lupa.fa.fa-search-plus(aria-hidden="true")
      img.poster__boxImg(src="components/poster/src/poster1.jpg" alt="galeria")

  .poster__licz
    .poster__nav
      .poster__text PLAKAT
      .poster__controllers
      .poster__all
    .poster__prev <
    .poster__next >
