.slider
  .slider__for
    .slider__item
      img.slider__img(src="components/slider/src/baner.jpg" alt="banner")
      .container
        .slider__content
          .slider__contentTitle BOGsOWIE
          .slider__contentText PREMIERA 14.03.2015
          a.slider__btn(href="#")
            .slider__box ZOBACZ WIĘCEJ
            .slider__troj

    .slider__item
      img.slider__img(src="components/slider/src/baner2.jpg" alt="banner")
      .container
        .slider__content
          .slider__contentTitle BOGOWIE
          .slider__contentText PREMIERA 14.03.2015
          a.slider__btn(href="#")
            .slider__box ZOBACZ WIĘCEJ
            .slider__troj

    .slider__item
      img.slider__img(src="components/slider/src/baner.jpg" alt="banner")
      .container
        .slider__content
          .slider__contentTitle BOGOWIE
          .slider__contentText PREMIERA 14.03.2015
          a.slider__btn(href="#")
            .slider__box ZOBACZ WIĘCEJ
            .slider__troj

    .slider__item
      img.slider__img(src="components/slider/src/baner2.jpg" alt="banner")
      .container
        .slider__content
          .slider__contentTitle BOGOWIE
          .slider__contentText PREMIERA 14.03.2015
          a.slider__btn(href="#")
            .slider__box ZOBACZ WIĘCEJ
            .slider__troj

    .slider__item
      img.slider__img(src="components/slider/src/baner.jpg" alt="banner")
      .container
        .slider__content
          .slider__contentTitle BOGOWIE
          .slider__contentText PREMIERA 14.03.2015
          a.slider__btn(href="#")
            .slider__box ZOBACZ WIĘCEJ
            .slider__troj

    .slider__item
      img.slider__img(src="components/slider/src/baner2.jpg" alt="banner")
      .container
        .slider__content
          .slider__contentTitle BOGOWIE
          .slider__contentText PREMIERA 14.03.2015
          a.slider__btn(href="#")
            .slider__box ZOBACZ WIĘCEJ
            .slider__troj

  .slider__controllers
    .container
