.slider
  +clearfix
  position: relative

  &__item
    width: 100%
    height: calc(100vh - 60px)
    position: relative
    +clearfix
    +PHONE_ONLY
      height: auto

  &__img
    width: 100%
    height: 100%

  &__content
    position: absolute
    bottom: 60px
    left: 60px

  &__contentTitle
    font-size: 100px
    font-weight: 700
    color: white
    text-align: left
    line-height: 80px
    +PHONE_ONLY
      font-size: 50px
      line-height: 40px
    +PHONE_ONLY_480
      font-size: 25px
      line-height: 30px

  &__contentText
    font-size: 36px
    padding-left: 3px
    font-weight: 700
    color: white
    text-align: left
    +PHONE_ONLY
      font-size: 20px
    +PHONE_ONLY_480
      font-size: 16px

  &__box
    font-size: 30px
    font-weight: 700
    padding: 20px 30px
    color: white
    background: $red
    float: left
    margin: 10px
    +PHONE_ONLY
      font-size: 20px
      padding: 10px 20px
    +PHONE_ONLY_480
      font-size: 16px
      margin: 10px 0

  &__btn

    &:hover
      .slider__box
        background: white
        color: $red
      .slider__troj
        border-left: 40px solid white

  &__troj
    width: 0
    height: 0
    margin-top: 12px
    border-top: 40px solid transparent
    border-bottom: 40px solid transparent
    border-left: 40px solid $red
    float: left
    +PHONE_ONLY
      border-top: 25px solid transparent
      border-bottom: 25px solid transparent
      border-left: 25px solid $red
      margin-top: 10px
    +PHONE_ONLY_480
      border-top: 20px solid transparent
      border-bottom: 20px solid transparent
      border-left: 20px solid $red
      margin: 12px 10px

  &__controllers
    position: absolute
    top: 50%
    left: 0
    width: 100%

  &__next
    position: absolute
    top: 50%
    right: 0
    font-size: 0
    height: 100px
    width: 40px
    cursor: pointer
    border: 0 solid transparent
    background-image: url("../components/slider/src/next.png")
    +bg-img
    z-index: 100
    transition: opacity 1s, transform 0.6s
    +PHONE_ONLY
      visibility: hidden

    &:hover
      opacity: 0.7

  &__prev
    position: absolute
    top: 50%
    left: 0
    font-size: 0
    height: 100px
    width: 40px
    cursor: pointer
    border: 0 solid transparent
    background-image: url("../components/slider/src/prev.png")
    +bg-img
    z-index: 100
    transition: opacity 1s, transform 0.6s
    +PHONE_ONLY
      visibility: hidden

    &:hover
      opacity: 0.7
