.sliderItem
  .sliderItem__box
    .sliderItem__hoverInfo
      .sliderItem__title BOGOWIE
      .sliderItem__text PREMIERA 20.10.2016
    .sliderItem__content
      .sliderItem__hoverBorder
      .sliderItem__contentBox
        .sliderItem__hoverLight REŻYSERIA:
        .sliderItem__hoverBold LOREM IPSUM
      .sliderItem__contentBox
        .sliderItem__hoverLight PRODUCENT:
        .sliderItem__hoverBold LOREM IPSUM
      .sliderItem__contentBox
        .sliderItem__hoverLight GATUNEK:
        .sliderItem__hoverBold DRAMAT
      .sliderItem__contentBox
        .sliderItem__hoverLight PRODUKCJA:
        .sliderItem__hoverBold POLSKA, 2015
      .sliderItem__contentBox
        .sliderItem__hoverLight PREMIERA:
        .sliderItem__hoverBold LOREM IPSUM


    img.sliderItem__boxImg(src="components/sliderItem/src/baner2.jpg" alt="galeria")
    .sliderItem__border
    .sliderItem__more
      .sliderItem__title BOGOWIE
      .sliderItem__text PREMIERA 20.10.2016