.sliderItem
  a.sliderItem__box(href="film.html")
    .sliderItem__boxItem
      .sliderItem__ghost
      .sliderItem__ghostInfo
        .sliderItem__ghostBorder
        .sliderItem__ghostBold LOREM IPSUM
          .sliderItem__ghostLight REŻYSERIA:

        .sliderItem__ghostBold LOREM IPSUM
          .sliderItem__ghostLight PRODUCENT:

        .sliderItem__ghostBold DRAMAT BIBLIOGRAFICZNY
          .sliderItem__ghostLight GATUNEK:

        .sliderItem__ghostBold 121 MIN
          .sliderItem__ghostLight DŁUGOŚĆ:


      img.sliderItem__boxImg(src="components/sliderItem/src/baner.jpg" alt="galeria")
      .sliderItem__border
      .sliderItem__content BOGOWIE
      .sliderItem__text PREMIERA 20.10.2016
