.switch
  display: block
  margin: 12px 0 0 0
  width: 60px
  height: 33px
  float: right
  border: 1px solid #000
  background-color: #fff
  border-bottom-left-radius: 16px
  border-top-left-radius: 16px
  border-bottom-right-radius: 16px
  border-top-right-radius: 16px
  position: relative

  &__en
    float: left
    display: block
    padding: 0 7px
    height: 32px
    line-height: 33px
    font-size: 12px
    border-radius: 52%
    z-index: 2
    position: absolute
    top: -1px
    left: 0
    background: $red
    color: white
    &.-white
      background: white
      color: black

    &:hover
      background: white
      color: black

  &__pl
    float: left
    display: block
    padding: 0 7px
    height: 32px
    line-height: 33px
    font-size: 12px
    border-radius: 52%
    z-index: 2
    position: absolute
    top: -1px
    right: 0
    &.-red
      background: $red
      color: white

    &:hover
      background: $red
      color: white

