.switch
  background: gray
  height: auto
  +clearfix
  border-radius: 30%
  display: none

  &__btn
    font-size: 18px
    height: 30px
    padding: 5px
    background: red
    float: left
    border-radius: 50%
    margin: 5px
