.page
  .page__box
    a.page__prev(href="#") &lt; &lt;
    .page__all
      a.page__link(href="#") 1
      a.page__link(href="#") 2
      a.page__link(href="#") 3
      a.page__link(href="#") 4
      a.page__link(href="#") 5
      a.page__link(href="#") ...
      a.page__link(href="#") 12
      a.page__link(href="#") 13
    a.page__prev(href="#") &gt; &gt;