.btn
  +clearfix
  padding: 10px 0
  display: inline-block

  &__text
    float: left
    padding: 10px 20px
    font-size: 16px
    background: $red
    font-weight: 700
    color: white

    &:hover
      background: white
      color: $red
