.allFilm
  include ../film/_film1
  include ../film/_film2
  include ../film/_film3
  include ../film/_film4
  include ../film/_film1
  include ../film/_film2
  include ../film/_film3
  include ../film/_film4
  include ../film/_film1
  include ../film/_film2