.awards
  .container
    .awards__title
      include ../sectionTitle/_sectionTitleAwards

    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin