-var title ='NAGRODY I FESTIWALE';

.awards
  .container
    .awards__title
      include ../sectionTitle/_sectionTitle-black

    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin
    .awards__item
      include ../awardsWin/_awardsWin