extends _layout.pug

block content
  .back
    include ../components/baner/_baner
  .col
    include ../components/menu/_menu
  .col
    include ../components/subMenu/_subMenu

  .col
    include ../components/video/_video
  .col
    include ../components/info/_info