extends _layout.pug

block content
  .col
    include ../components/menu/_menu

  .container
    .col
      include ../components/sectionTitle/_sectionTitleNews
    .col
      include ../components/post/_post
    .col
      include ../components/post/_post2
    .col
      include ../components/post/_post3
    .col
      include ../components/post/_post
    .col
      include ../components/post/_post

