extends _layout.pug

block content
  .background
    .col
      include ../components/menu/_menu

    .container
      .col
        include ../components/sectionTitle/_sectionTitleDistribution

    .col
      include ../components/film/_film1
      include ../components/film/_film2
      include ../components/film/_film3
      include ../components/film/_film4
      include ../components/film/_film2
      include ../components/film/_film3
      include ../components/film/_film1
      include ../components/film/_film4
      include ../components/film/_film2
      include ../components/film/_film1
