extends _layout.pug

block content
    .col
      include ../components/menu/_menu
    .container
      .col
        include ../components/sectionTitle/_sectionTitleProducent
      .col33
        include ../components/logo/_logo
      .col66
        include ../components/producentText/_producentText