.footer
  .container
    .footer__left
      a.footer__link(href="#") &copy; 2015 AGORA SA
    .footer__right
      a.footer__link(href="#") WARUNKI KORZYSTANIA Z SERWISU
      a.footer__link(href="#") POLITYKA PRYWATNOŚCI
      a.footer__link(href="#") KONTAKT