.contact

  .contact__title
    .contact__box
      .contact__subTitle AGORA SA
      .contact__text ul. Czerska 8/10
      .contact__text 00-732 Warszawa
      .contact__text tel. (+48 22) 55 55 334
      .contact__text fax. (+48 22) 55 55 334
      .contact__text NIP 526-030-56-44

    .contact__box
      .contact__bold Film Licensing Menager:
      .contact__bold PAWEŁ MALKO
      .contact__text NIP 526-030-56-44
      .contact__text NIP 526-030-56-44
      .contact__text NIP 526-030-56-44

  .contact__map
    include ../map/_map