.foto
  .container
    .foto__title
      include ../sectionTitle/_sectionTitleFoto

    .foto__item
      include ../fotoItem/_fotoItem

    .foto__item
      .foto__btn
        include ../btn/_btnMore