.film
  a.film__box(href="film.html")
    .film__boxItem
      .film__ghost
      .film__ghostInfo
        .film__ghostBorder
        .film__ghostBold LOREM IPSUM
          .film__ghostLight REŻYSERIA:

        .film__ghostBold LOREM IPSUM
          .film__ghostLight PRODUCENT:

        .film__ghostBold DRAMAT BIBLIOGRAFICZNY
          .film__ghostLight GATUNEK:

        .film__ghostBold 121 MIN
          .film__ghostLight DŁUGOŚĆ:

        .film__ghostBold POLSKA, 2015
          .film__ghostLight PRODUKCJA:

        .film__ghostBold 23.12.2015
          .film__ghostLight PREMIERA:

        .film__ghostBold LOREM IPSUM
          .film__ghostLight TYTUŁ ORYGINALNY:


      img.film__boxImg(src="components/film/src/film4.jpg" alt="galeria")
      .film__border
      .film__more
        .film__content BOGOWIE
        .film__text PREMIERA 20.10.2016
