.film
  a.film__box(href="film.html")
    .film__hoverInfo
      .film__title BOGOWIE
      .film__text PREMIERA 20.10.2016
    .film__content
      .film__hoverBorder
      .film__hoverBold LOREM IPSUM
        .film__hoverLight REŻYSERIA:

      .film__hoverBold LOREM IPSUM
        .film__hoverLight PRODUCENT:

      .film__hoverBold DRAMAT BIBLIOGRAFICZNY
        .film__hoverLight GATUNEK:

      .film__hoverBold 121 MIN
        .film__hoverLight DŁUGOŚĆ:

      .film__hoverBold POLSKA, 2015
        .film__hoverLight PRODUKCJA:

      .film__hoverBold 23.12.2015
        .film__hoverLight PREMIERA:

      .film__hoverBold LOREM IPSUM
        .film__hoverLight TYTUŁ ORYGINALNY:


    img.film__boxImg(src="components/film/src/film4.jpg" alt="galeria")
    .film__border
    .film__more
      .film__title BOGOWIE
      .film__text PREMIERA 20.10.2016
