-var title="O FILMIE W MEDIACH"
.media
  .container
    .media__title
      include ../sectionTitle/_sectionTitle-black

    .media__item
      include ../mediaItem/_mediaItem

    .media__item
      include ../mediaItem/_mediaItem

    .media__item
      include ../mediaItem/_mediaItem

    .media__btn
      include ../btn/_btnMore