.post
  .col33
    img.post__img(src="components/post/src/post2.jpg" alt="post")

  .col66
    .post__top
      .post__title AGORA WIODĄCYM PRODUCENTEM FILMU "KRÓL ŻYCIA"
      .post__bold DODANO:
      .post__text 23.12.2015

    .post__content
      .post__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor elit, congue eget faucibus vel, consequat vel orci. Phasellus ac velit sem. Quisque eget libero sit amet elit tincidunt iaculis a at arcu. Nullam tempus tellus nec erat mollis, ut sagittis felis blandit. Cras venenatis rutrum est. <b>Vestibulum ornare placerat risus sed</b> condimentum. Praesent fermentum nisi velit, id pellentesque purus tristique ut.
      .post__btn
        include ../btn/_btn