.awardsWin
  img.awardsWin__img(src="components/awardsWin/src/leafL.png" alt="liść")

  .awardsWin__content
    .awardsWin__contentTitle 39 FESTIWAL FILMOWY W GDYNII
    .awardsWin__contentText ZŁOTE LWY
  img.awardsWin__flip(src="components/awardsWin/src/leafL.png" alt="liść")