.video
  .container
    .video__top
      include ../sectionTitle/_sectionTitleVideo

    a.video__btn(href="#")
      .video__btnTriler Zwiastun nr 1

    iframe.video__yt(src="https://www.youtube.com/embed/urwNt8Cf64A", frameborder="0", allowfullscreen)

    .video__triler
      a.video__trilerItem(href="#")
        .video__trilerText ZWIASTUN NR 1
      a.video__trilerItem(href="#")
        .video__trilerText ZWIASTUN NR 2
      a.video__trilerItem(href="#")
        .video__trilerText ZWIASTUN NR 3
      a.video__trilerItem(href="#")
        .video__trilerText TEASER NR 1
      a.video__trilerItem(href="#")
        .video__trilerText TEASER NR 2