.mediaItem

  .mediaItem__top
    .mediaItem__title LOREM IPSUM JEST TEKSTEM STOSOWANUM JAKO PRZYKŁADOW
    .mediaItem__add
      .mediaItem__addBold DODANO:
      .mediaItem__addLight 23.12l2015,
      .mediaItem__addBold NAZWA PISMA, STRONY WWW ITP.

  .mediaItem__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a leo eu nunc fringilla pulvinar. Maecenas cursus nisi vel rutrum mattis. Integer pharetra finibus mauris, varius scelerisque magna ultrices a. Aenean luctus dolor lacus, sit amet placerat lacus blandit vitae. Quisque nibh libero, vulputate at hendrerit nec, placerat suscipit nisi. Sed est tellus, scelerisque ut suscipit porttitor

  .mediaItem__btn
    include ../btn/_btn