.sliderNav
  .sliderNav__nav
    .sliderNav__box
      .sliderNav__boxItem
        include ../sliderItem/_sliderItem1
    .sliderNav__box
      .sliderNav__boxItem
        include ../sliderItem/_sliderItem2
    .sliderNav__box
      .sliderNav__boxItem
        include ../sliderItem/_sliderItem3
    .sliderNav__box
      .sliderNav__boxItem
        include ../sliderItem/_sliderItem4
    .sliderNav__box
      .sliderNav__boxItem
        include ../sliderItem/_sliderItem1
    .sliderNav__box
      .sliderNav__boxItem
        include ../sliderItem/_sliderItem2
