.sliderNav
  .sliderNav__nav
    include ../sliderItem/_sliderItem1
    include ../sliderItem/_sliderItem2
    include ../sliderItem/_sliderItem1
    include ../sliderItem/_sliderItem2
    include ../sliderItem/_sliderItem1
    include ../sliderItem/_sliderItem2
    include ../sliderItem/_sliderItem1
