-var title='OBSADA';

.cast
  .container
    .cast__title
      include ../sectionTitle/_sectionTitle-black

    .cast__content
      .cast__item
        .cast__itemTitle TOMASZ KOT
          .cast__itemText JAKO ZBIGNIEW RELIGA

      .cast__item
        .cast__itemTitle TOMASZ KOT
          .cast__itemText JAKO ZBIGNIEW RELIGA

      .cast__item
        .cast__itemTitle PIOTR GŁOWACKI
          .cast__itemText JAKO MARIAN ZEMBALA

      .cast__item
        .cast__itemTitle PIOTR GŁOWACKI
          .cast__itemText JAKO MARIAN ZEMBALA

      .cast__item
        .cast__itemTitle SZYMON PIOTR WARSZAWSKI
          .cast__itemText JAKO ANDRZEJ BOCHENEK

      .cast__item
        .cast__itemTitle SZYMON PIOTR WARSZAWSKI
          .cast__itemText JAKO ANDRZEJ BOCHENEK

      .cast__item
        .cast__itemTitle MAGDALENA CZERWIŃSKA
          .cast__itemText JAKO ANNA RELIGA

      .cast__item
        .cast__itemTitle MAGDALENA CZERWIŃSKA
          .cast__itemText JAKO ANNA RELIGA

      .cast__item
        .cast__itemTitle RAFAŁ ZAWIERUCHA
          .cast__itemText JAKO ROMUALD CICHOŃ

      .cast__item
        .cast__itemTitle RAFAŁ ZAWIERUCHA
          .cast__itemText JAKO ROMUALD CICHOŃ

      .cast__item
        .cast__itemTitle MARTA ŚCISŁOWICZ
          .cast__itemText JAKO PIELĘGNIARKA MAGDA

      .cast__item
        .cast__itemTitle MARTA ŚCISŁOWICZ
          .cast__itemText JAKO PIELĘGNIARKA MAGDA

      .cast__item
        .cast__itemTitle KAROLINA PIECHOTA
          .cast__itemText JAKO PIELĘGNIARKA KRYSIA

      .cast__item
        .cast__itemTitle KAROLINA PIECHOTA
          .cast__itemText JAKO PIELĘGNIARKA KRYSIA

      .cast__item
        .cast__itemTitle WOJCIECH SOLORZ
          .cast__itemText JAKO ANESTOZJOLOG

      .cast__item
        .cast__itemTitle WOJCIECH SOLORZ
          .cast__itemText JAKO ANESTOZJOLOG

      .cast__item
        .cast__itemTitle ARKADIUSZ JANICZEK
          .cast__itemText JAKO PERFUZJONISTA

      .cast__item
        .cast__itemTitle ARKADIUSZ JANICZEK
          .cast__itemText JAKO PERFUZJONISTA

      .cast__item
        .cast__itemTitle CEZARY KOSIŃSKI
          .cast__itemText JAKO ROMAN WŁODARSKI