.cast
  .container
    .cast__title
      include ../sectionTitle/_sectionTitleObsada

    .cast__content
      .cast__item
        .cast__itemTitle TOMASZ KOT
          .cast__itemText JAKO ZBIGNIEW RELIGA

      .cast__item
        .cast__itemTitle TOMASZ KOT
          .cast__itemText JAKO ZBIGNIEW RELIGA

      .cast__item
        .cast__itemTitle PIOTR GŁOWACKI
          .cast__itemText JAKO MARIAN ZEMBALA

      .cast__item
        .cast__itemTitle PIOTR GŁOWACKI
          .cast__itemText JAKO MARIAN ZEMBALA

      .cast__item
        .cast__itemTitle SZYMON PIOTR WARSZAWSKI
          .cast__itemText JAKO ANDRZEJ BOCHENEK

      .cast__item
        .cast__itemTitle SZYMON PIOTR WARSZAWSKI
          .cast__itemText JAKO ANDRZEJ BOCHENEK

      .cast__item
        .cast__itemTitle MAGDALENA CZERWIŃSKA
          .cast__itemText JAKO ANNA RELIGA

      .cast__item
        .cast__itemTitle MAGDALENA CZERWIŃSKA
          .cast__itemText JAKO ANNA RELIGA

      .cast__item
        .cast__itemTitle RAFAŁ ZAWIERUCHA
          .cast__itemText JAKO ROMUALD CICHOŃ

      .cast__item
        .cast__itemTitle RAFAŁ ZAWIERUCHA
          .cast__itemText JAKO ROMUALD CICHOŃ

      .cast__item
        .cast__itemTitle MARTA ŚCISŁOWICZ
          .cast__itemText JAKO PIELĘGNIARKA MAGDA

      .cast__item
        .cast__itemTitle MARTA ŚCISŁOWICZ
          .cast__itemText JAKO PIELĘGNIARKA MAGDA

      .cast__item
        .cast__itemTitle KAROLINA PIECHOTA
          .cast__itemText JAKO PIELĘGNIARKA KRYSIA

      .cast__item
        .cast__itemTitle KAROLINA PIECHOTA
          .cast__itemText JAKO PIELĘGNIARKA KRYSIA

      .cast__item
        .cast__itemTitle WOJCIECH SOLORZ
          .cast__itemText JAKO ANESTOZJOLOG

      .cast__item
        .cast__itemTitle WOJCIECH SOLORZ
          .cast__itemText JAKO ANESTOZJOLOG

      .cast__item
        .cast__itemTitle ARKADIUSZ JANICZEK
          .cast__itemText JAKO PERFUZJONISTA

      .cast__item
        .cast__itemTitle ARKADIUSZ JANICZEK
          .cast__itemText JAKO PERFUZJONISTA

      .cast__item
        .cast__itemTitle CEZARY KOSIŃSKI
          .cast__itemText JAKO ROMAN WŁODARSKI

    .cast__title
      include ../sectionTitle/_sectionTitleTworcy

    .cast__content

      .cast__item
        .cast__crew
          .cast__crewTitle ŁUKASZ PALKOWSKI
          .cast__crewText / REŻYSER /

      .cast__item
        .cast__crew
          .cast__crewTitle JACEK TURKIEWICZ
          .cast__crewText / DEKORATOR WNĘTRZ /

      .cast__item
        .cast__crew
          .cast__crewTitle KRZYSZTOF RAK
          .cast__crewText / SCENARIUSZ /

      .cast__item
        .cast__crew
          .cast__crewTitle WOJCIECH ŻOGAŁA
          .cast__crewText / SCENOGRAFIA /

      .cast__item
        .cast__crew
          .cast__crewTitle PIOTR SOBOCIŃSKI JR.
          .cast__crewText / ZDJĘCIA /

      .cast__item
        .cast__crew
          .cast__crewTitle EWA GRONOWSKA
          .cast__crewText / KOSTIUMY /

      .cast__item
        .cast__crew
          .cast__crewTitle BARTOSZ CHAJDECKI
          .cast__crewText / MUZYKA /

      .cast__item
        .cast__crew
          .cast__crewTitle MAGDALENA CZERWIŃSKA
          .cast__crewText / KOSTIUMY /

      .cast__item
        .cast__crew
          .cast__crewTitle JAROSŁAW BARZAN
          .cast__crewText / MONTAŻ /