-var title='TWÓRCY';

.crew
  .container
    .crew__title
      include ../sectionTitle/_sectionTitle-black
    
    .crew__content
    
      .crew__item
        .crew__crew
          .crew__crewTitle ŁUKASZ PALKOWSKI
          .crew__crewText / REŻYSER /
    
      .crew__item
        .crew__crew
          .crew__crewTitle JACEK TURKIEWICZ
          .crew__crewText / DEKORATOR WNĘTRZ /
    
      .crew__item
        .crew__crew
          .crew__crewTitle KRZYSZTOF RAK
          .crew__crewText / SCENARIUSZ /
    
      .crew__item
        .crew__crew
          .crew__crewTitle WOJCIECH ŻOGAŁA
          .crew__crewText / SCENOGRAFIA /
    
      .crew__item
        .crew__crew
          .crew__crewTitle PIOTR SOBOCIŃSKI JR.
          .crew__crewText / ZDJĘCIA /
    
      .crew__item
        .crew__crew
          .crew__crewTitle EWA GRONOWSKA
          .crew__crewText / KOSTIUMY /
    
      .crew__item
        .crew__crew
          .crew__crewTitle BARTOSZ CHAJDECKI
          .crew__crewText / MUZYKA /
    
      .crew__item
        .crew__crew
          .crew__crewTitle MAGDALENA CZERWIŃSKA
          .crew__crewText / KOSTIUMY /
    
      .crew__item
        .crew__crew
          .crew__crewTitle JAROSŁAW BARZAN
          .crew__crewText / MONTAŻ /