.menu
  .container
    .menu__bars(type="button")
      i.fa.fa-bars(aria-hidden="true")
    .menu__nav
      a.menu__navItem(href="#") FILMY W DYSTRYBUCJI
      a.menu__navItem(href="#") FILMY W PRODUKCJI
      a.menu__navItem(href="#")
        .menu__logo
          include ../logo/_logo
      a.menu__navItem(href="#") AKTUALNOŚCI
      a.menu__navItem(href="#") PRODUCENT
      a.menu__navItem(href="#") KONTAKT

    .menu__lang
      include ../switch/_switch