.menu
  .container
    a.menu__logoPhone(href="main.html")
      include ../logo/_logo

    .menu__bars(type="button")
      i.fa.fa-bars(aria-hidden="true")

    .menu__nav
      .menu__navLeft
        a.menu__navItem(href="distribution.html") FILMY W DYSTRYBUCJI
        a.menu__navItem(href="production.html") FILMY W PRODUKCJI
        a.menu__logo(href="main.html")
          include ../logo/_logo
        a.menu__navItem(href="news.html") AKTUALNOŚCI
        a.menu__navItem(href="producent.html") PRODUCENT
        a.menu__navItem(href="contactMap.html") KONTAKT

        .menu__lang
          include ../switch/_switch
