.listInfo

  .listInfo__box
    .listInfo__title REŻYSERIA:
    .listInfo__text lorem ipsum

  .listInfo__box
    .listInfo__title PRODUCENT:
    .listInfo__text lorem ipsum

  .listInfo__box
    .listInfo__title GATUNEK:
    .listInfo__text dramat,biograficzny

  .listInfo__box
    .listInfo__title PRODUKCJA:
    .listInfo__text Polska

  .listInfo__box
    .listInfo__title PREMIERA:
    .listInfo__text 23.12.2015